<style>

main {
	border: 0;
	border-radius: 0;
	background: white;
	box-shadow: none;
}

.myStructure {
	margin: 10px 0 0;
	padding: 10px;
	background: #FFF;
}

img {
	display: block;
}

table {
	width: 100%;
	table-layout: fixed;
	border-collapse: collapse;
	border: solid 2px #CCC;
	word-wrap : break-word;
	overflow-wrap : break-word;
}

th {
	width: 15%;
	padding: 5px;
	border: solid 2px #CCC;
	font-size: 11px;
	line-height: 1.5;
	font-weight: bold;
}

td {
	padding: 5px;
	border: solid 2px #CCC;
	font-size: 11px;
	line-height: 1.5;
	font-weight: normal;
}

td.accNum {
	text-align: center;
}

/*img {
	overflow: auto;
}
*/

/*.structure_img {
	height: 150px;
	padding: 0;
}
*/
.structure_img > img {
	display: block;
	margin: 0 auto;
	max-width: 100%;
	max-height: 100%;
	width: auto;
	height: auto;
}

</style>
<div class="myStructure">
<p>page: {{offset}}</p>
<table>
	<tr>
		<th>Accession number</th>
		<th>Structure</th>
		<th>Calculated monoisotopic mass</th>
		<th>Date registered</th>
		<th>WURCS</th>
	</tr>
	{{#each data}}
	<tr>
		<td class="accNum">
			<a href="https://glytoucan.org/Structures/Glycans/{{AccNum.value}}" target="_blank">
			{{AccNum.value}}</a></td>
		<td><div class="structure_img">
				<img src="http://glytoucan.org/glycans/{{AccNum.value}}/image?style=extended&amp;format=png&amp;notation={{notation}}"></div></td>
		<td>{{MassLabel.value}}</td>
		<td>{{CreateDate.value}}</td>
		<td>{{WurcsLabel.value}}</td>
	</tr>
	{{/each}}
</table>
{{#myStructureNothingFound data}}{{/myStructureNothingFound}}
</div>

