<style>

main {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
}

.literatureList {
	margin: 10px 0 0;
	padding: 0;
	font-size: 14px;
	list-style-type: none;
}

.literatureList > li.stanzaNothingFound {
	width: 100%;
	float: none;
	margin: 0 0 10px;
	padding: 5px 0;
	background: #EEE;
	color: #999;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.literatureList > li:before, .literatureList > li:after {
	content: " ";
	display: table;
}

.literatureList > li:after {
	clear: both;
}

.literatureList > li + li {
	margin: 20px 0 0;
	padding: 0;
}

.literatureList_category {
	width: 100%;
	margin: 0;
	float: left;
	list-style-type: disc;
}

.literatureList_category:before, .literatureList_category:after {
	content: " ";
	display: table;
}

.literatureList_category:after {
	clear: both;
}

.literatureList_category > li {
	min-width: 100px;
	margin: 0 15px 0 0;
	float: left;
	line-height: 2;
}

.literatureList_category > li > a {
	color: #09D;
	text-decoration: underline;
}


/* Partner Explanation */
.source {
	margin: 15px 0 0;
	padding: 0;
	text-align: right;
	font-size: 14px;
}

.source_content {
	display: none;
	margin: 5px 0 10px;
	padding: 20px;
	background: #FFC;
}

.source_content--show {
	display: block;
}

.source_text {
	margin: 0;
	padding: 0;
	text-align: left;
	color: #787878;
	font-size: 14px;
}

.source_btn {
	margin: 0 0 0 auto;
	width: 150px;
	padding: 0;
	padding: 5px 0;
	text-align: left;
	font-size: 14px;
}

.source_btn:hover {
	background-color: #EEE;
}

</style>
<ul class="literatureList">
{{#each data}}
	<li>
		<ul class="literatureList_category">
		{{#each this}}
			<li><a href="{{{url}}}" target="_blank">{{id}}</a></li>
		{{/each}}
		</ul>
		<div class="source">
			<a class="source_btn">from {{@key}}</a>
			<div class="source_content">
				<p class="source_text">
					{{description}}</br>
					URL: <a href="{{partnerurl}}" target="_blank">{{partnerurl}}</a>
				</p>
			</div>
		</div>
	</li>
{{else}}
	<li class="stanzaNothingFound">Nothing found in this entry.</li>
{{/each}}
</ul>
