<style>

main {
	border: 0;
	border-radius: 0;
	box-shadow: none;
	overflow: hidden;
}

.speciesList {
	margin: 10px 0 0;
	padding: 0;
	font-size: 14px;
	list-style-type: none;
}

.speciesList > li.stanzaNothingFound {
	width: 100%;
	float: none;
	margin: 0 0 10px;
	padding: 5px 0;
	background: #EEE;
	color: #999;
	font-size: 14px;
	font-weight: bold;
	text-align: center;
}

.speciesList > li:before, .speciesList > li:after {
	content: " ";
	display: table;
}

.speciesList > li:after {
	clear: both;
}

.speciesList > li + li {
	margin: 20px 0 0;
	padding: 0;
}



.speciesList_category {
	width: 100%;
	margin: 0;
	padding: 0 0 0 30px;
	float: left;
	list-style-type: disc;
	box-sizing: border-box;
}

.speciesList_category > li > a {
	color: #09D;
	text-decoration: underline;
}


/* Partner Explanation */
.source {
	margin: 15px 0 0;
	padding: 0;
	text-align: right;
	font-size: 14px;
}

.source_content {
	display: none;
	margin: 5px 0 10px;
	padding: 20px;
	background: #FFC;
}

.source_content--show {
	display: block;
}

.source_text {
	margin: 0;
	padding: 0;
	text-align: left;
	color: #787878;
	font-size: 14px;
}

.source_btn {
	margin: 0 0 0 auto;
	width: 150px;
	padding: 0;
	padding: 5px 0;
	text-align: left;
	font-size: 14px;
}

.source_btn:hover {
	background-color: #EEE;
}

</style>
<ul class="speciesList">
{{#each data}}
	<li>
		<!-- <p class="specieslList_heading">Taxon</p> -->
		<ul class="speciesList_category">
		{{#each this}}
			<li>
				{{#if url}}<a href="{{{url}}}" target="_blank">{{/if}}
					{{#if name}}
						{{name}}
					{{else}}
						{{id}}
					{{/if}}
				{{#if url}}</a>{{/if}}
			</li>
		{{/each}}
		</ul>
		<div class="source">
			<a class="source_btn">from {{@key}}</a>
			<div class="source_content">
				<p class="source_text">
					{{description}}</br>
					URL: <a href="{{partnerurl}}" target="_blank">{{partnerurl}}</a>
				</p>
			</div>
		</div>
		<!-- <p class="speciesList_from">from {{@key}}</p> -->
	</li>
{{else}}
	<li class="stanzaNothingFound">Nothing found in this entry.</li>
{{/each}}
</ul>
